canvas {
    position: fixed;
    top: 0;
    left: 0;
}
#canvas_container {
    position: relative;
    width: 400px;
    height: 300px;
    border: 1px solid black;
}
#textbox {
    position: absolute;
    z-index: 2;
}
#btn1 {
    position:absolute;
    left: 185px;
    z-index: 2;
}